.alert {
  position: absolute;
  top: 20rem;
  right: 8rem;
  background: #24242a;
  border-radius: 12px;
  color: $white;
  width: 320px;
  padding: 16px 20px;
  line-height: 1.4rem;
  @media (max-width: 1400px) {
    display: none;
  }
}
