.banner {
  position: relative;
  height: 100vh;
  width: 100%;
  .inner-banner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    .main-headline {
      font-weight: 400;
      line-height: 10rem;
      font-size: 12rem;
      color: #fff;
      mix-blend-mode: difference;
      width: 100%;
      position: absolute;
      z-index: 1;
      left: 0;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
      span.semi-bold {
        font-weight: 400;
        &:hover {
          cursor: pointer;
        }
      }
      span.underline {
        text-decoration: underline;
      }
      &.small {
        font-size: 3rem;
      }
    }
    .image {
      width: 1000px;
      margin: 0 auto;

      img {
        width: 100%;
      }
    }
  }
}
