.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 99;
  .text {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
  }
  .progress {
    position: absolute;
    bottom: 8rem;
    left: 8rem;
    font-size: 3rem;
    @media (max-width: 1024px) {
      bottom: 3rem;
      left: 3rem;
    }
    @media (max-width: 480px) {
      bottom: 3rem;
      left: 1.5rem;
    }
  }
}
