.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 99;
  .text {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
  }
  .progress {
    position: absolute;
    bottom: 8rem;
    left: 8rem;
    font-size: 3rem;
  }
}
