.profile-banner {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  .profile-banner-inner {
    margin-top: 20rem;
    h4 {
      font-size: 5rem;
      font-weight: 300;
      line-height: 9rem;
      margin-bottom: 8rem;
      @media (max-width: 1480px) {
        font-size: 4rem;
        line-height: 7rem;
        margin-top: 4rem;
        width: 800px;
      }
      @media (max-width: 1024px) {
        font-size: 3em;
        line-height: 6rem;
        margin-top: 3rem;
        width: 100%;
      }
      span.semi-bold {
        font-weight: 400;
        &:hover {
          cursor: pointer;
        }
      }
      span.underline {
        text-decoration: underline;
      }
    }
  }
}
