.projects {
  margin-top: 14rem;
}

.project-header {
  &.details {
    margin: 24rem auto 12rem;
  }
  .project-inner {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 0 auto;
    @media (max-width: 1480px) {
      width: 840px;
    }
    .project-title {
      h5 {
        margin: 0;
        font-weight: 400;
      }
    }
    .project-description {
      p {
        margin: 0;
        font-weight: 300;
        width: 410px;
        color: $secondary;
        line-height: 1.5rem;
      }
    }
    .projects-worked-on {
    }
  }
}

// Device show case
.three-device-showcase,
.two-device-showcase {
  position: relative;
  margin: 16rem auto;
  .three-device-showcase-inner,
  .two-device-showcase-inner {
    display: flex;
    justify-content: space-between;
    .device {
      width: 312px;
      &:first-child {
        margin-top: 5rem;
      }
      &:last-child {
        margin-top: -5rem;
      }
      img {
        width: 312px;
        border-radius: 1.5rem;
        border: 3px solid $text;
      }
    }
  }
  .background-box {
    position: absolute;
    bottom: -4rem;
    right: 0;
    width: 50vw;
    height: 724px;
    background: #ebeaea;
    z-index: -1;
    &.left {
      left: 0;
    }
  }
}

//single showcase
.single-showcase {
  .device {
    margin: 4rem auto;
    &.youtube-video {
      position: relative;
      pointer-events: none;
      overflow: hidden;
      height: 855px;
      width: 100%;
      display: flex;
      align-self: center;
      justify-content: center;
      position: relative;
      padding-bottom: 75%;
      height: 0;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.subtitle {
  display: block;
  font-size: $secondary;
  font-weight: 300;
  text-align: center;
  width: 560px;
  margin: 1rem auto;
  font-size: 0.875rem;
  opacity: 0.4;
  line-height: 1.2rem;
  @media (max-width: 768px) {
    width: 100%;
  }
}
